{% for task in tasks %}
    <li>
        <form class="task_put" hx-put="/task_list/{{task.id}}" hx-target="#tasks" hx-swap="innerHTML" method="post" >
            <input class="task_input" type="hidden" name="id" value="{{task.id}}" hx-trigger="keyup changed delay=250ms"  >
            <input class="task_input" type="text" name="name" value="{{task.name}}" hx-trigger="keyup changed delay=250ms" >
            <input class="task_input" type="text" name="description" value="{{task.description}}" hx-trigger="keyup changed delay=250ms" >
            <button class="task_button" type="submit">Edit task</button>
        </form>
        <form class="task_delete" hx-delete="/task_list/{{task.id}}" hx-target="#tasks" hx-swap="innerHTML" method="post">
            <button class="task_button" type="submit">Delete task</button>
        </form>
    </li>
{% endfor %}